.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: vr(1);
  margin-bottom: vr(6);
  
  @include bp(small) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  @include bp(large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
}

// Gallery inside article 

.gallery--article {
  display: grid;
  grid-gap: vr(1);
  margin-bottom: vr(4);
}

.gallery {
  
  &--2-items {
display: grid;
  grid-gap: vr(1);
  margin-bottom: vr(4);
    grid-template-columns: 1fr 1fr;
  }
  
  &--4-items {
display: grid;
  grid-gap: vr(1);
  margin-bottom: vr(4);
    grid-template-columns: 1fr 1fr;
    
    @include bp(large) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    } 
  }
  
  &--6-items {
display: grid;
  grid-gap: vr(1);
  margin-bottom: vr(4);
    grid-template-columns: 1fr 1fr;
    
    @include bp(medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
}

