.navigation {
  
  color: $grey60;
  margin-top: vr(8);
  margin-bottom: vr(10);
  
  &__left, &__right { display: inline-block; }
  &__left { margin-right: vr(2); }
  &__right { margin-left: vr(2); }
  
}