/* --------------------------------------------------------

HEADER

===========================================================
05_organisms/_header.scss
-----------------------------------------------------------

Style of header

-------------------------------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 vr(3);
    
  @include bp(x-small) {
    margin: 0 vr(6) 0 vr(3);
  }
      
  @include bp(small) {
    margin: 0 vr(12) 0 vr(8);
  }

  @include bp(medium) {
    display: block;
    margin: 0 0 0 vr(4);
  }
}