
/*
.l-wrapper {
  display: grid;
  max-width: 1440px;
  grid-template-columns: 4% 1fr 4%;
}

.landscape, .portrait {
  grid-column-start: 1;
  grid-column-end: 4;
}

/*
.post >,
figcaption, figure.portrait img {
  grid-column-start: 2;
  grid-column-end: 3;
}

/*
.landscape, .portrait {
    grid-column-start: 1;
  grid-column-end: 4;
 display: grid;
}

.post > *:not(.landscape):not(.portrait),
figcaption, figure.portrait img {
  grid-column-start: 2;
  grid-column-end: 3;
}
*/