/* ----------------------------------------------------------------------------

WRAPPER

===============================================================================
02_layout/_wrapper.scss
-------------------------------------------------------------------------------

Styles of wrappers - only meant for positioning

---------------------------------------------------------------------------- */

.l-wrapper {
  margin: 0 auto;
  max-width: 32em;
  padding: 0 $marginWrapper;
}

