$black: #222;
$white: #fff;

// Colour pallette: http://www.colourlovers.com/palette/1919224/Window_dressing?sAC=1

$red: #F02311;
$green: #89D813;
$blue: #188AAF;
$orange: #F9880E;
$yellow: #F9D33B; 

$grey97: lighten($black, 3%);
$grey90: lighten($black, 10%);
$grey80: lighten($black, 20%);
$grey70: lighten($black, 30%);
$grey60: lighten($black, 40%);
$grey50: lighten($black, 50%);
$grey40: lighten($black, 60%);
$grey30: lighten($black, 70%);
$grey20: lighten($black, 80%);
$grey10: lighten($black, 90%);

$color-home: $grey60;
$color-articles: $blue;
$color-photos: $green;
$color-code: $yellow;
$color-sport: $orange;
$color-links: $red;

$color-map: (
    red: (
      base: $red,
      light: mix($white, $red, 97%),
      l25: mix($white, $red, 75%),
      l50: mix($white, $red, 50%),
      l75: mix($white, $red, 25%),
      d25: mix($black, $red, 75%),
      d50: mix($black, $red, 50%),
      d75: mix($black, $red, 25%),
    ),
    green: (
      base: $green,
      light: mix($white, $green, 97%),
      l25: mix($white, $green, 75%),
      l50: mix($white, $green, 50%),
      l75: mix($white, $green, 25%),
      d25: mix($black, $green, 75%),
      d50: mix($black, $green, 50%),
      d75: mix($black, $green, 25%),
    ),
    blue: (
      base: $blue,
      light: mix($white, $blue, 99%),
      l25: mix($white, $blue, 75%),
      l50: mix($white, $blue, 50%),
      l75: mix($white, $blue, 25%),
      d25: mix($black, $blue, 75%),
      d50: mix($black, $blue, 50%),
      d75: mix($black, $blue, 25%),
    ),
    orange: (
      base: $orange,
      light: mix($white, $orange, 97%),
      l25: mix($white, $orange, 75%),
      l50: mix($white, $orange, 50%),
      l75: mix($white, $orange, 25%),
      d25: mix($black, $orange, 75%),
      d50: mix($black, $orange, 50%),
      d75: mix($black, $orange, 25%),
    ),
    yellow: (
      base: $yellow,
      light: mix($white, $yellow, 97%),
      l25: mix($white, $yellow, 75%),
      l50: mix($white, $yellow, 50%),
      l75: mix($white, $yellow, 25%),
      d25: mix($black, $yellow, 75%),
      d50: mix($black, $yellow, 50%),
      d75: mix($black, $yellow, 25%),
    ),
    
);

@function color($color, $tone: base) {
    @return map-get(map-get($color-map, $color), $tone);
}

/*

a {
    color: color(purple);
    &:hover {
        color: color(purple, light);
    }
}

*/

$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-google: #dd4b39;
$color-pinterest: #cb2027;