/* ----------------------------------------------------------------------------

CODE

===============================================================================
03_atoms/_code.scss
-------------------------------------------------------------------------------

Basic styles to block code elements (<pre>) and inline code elements (<code>)

---------------------------------------------------------------------------- */

code, 
pre {
  font-family: $font-mono;
}

pre {
  margin-bottom: vr(4);
  overflow: auto;
  border-left: vr(1) solid color(color-code, l50);
  padding-top: vr(3);
  padding-bottom: vr(3);
  padding-left: vr(2);
  padding-right: vr(3);
  
  @include bp(x-small) {
    padding-right: vr(6);
  }
  
  @include bp(small) { 
    padding-left: vr(7);
  //  padding-right: vr(12);
  }
  
  @include bp(medium) {
    padding-left: vr(4);
  //  padding-right: vr(16);
  }
  
  @include bp(large) {
  //  padding-right: vr(24);
  }  
  
  @include bp(x-large) {
  //  padding-right: vr(40);
  }
}

:not(pre) > code {
  background-color: color(color-code, l25);
  @include set-type($ms-down1, 4);
  padding: .25em;
}