/* ----------------------------------------------------------------------------

CODE

===============================================================================
03_atoms/_code.scss
-------------------------------------------------------------------------------

Basic styles to block code elements (<pre>) and inline code elements (<code>)

---------------------------------------------------------------------------- */

code[class*="language-"],
pre[class*="language-"] { 
  font-family: $font-mono; 
  @include vr-type($ms-down1, 4);
  color: $black;
  text-shadow: none;
}

pre[class*="language-"] {
  overflow: auto;
  background: $grey20;
  margin-bottom: vr(4);
  padding: vr(3);
}

.code-type {
  font-family: $font-mono;
  font-weight: 700;
  color: $grey80;
  text-shadow: 1px 0 $white;
  text-transform: uppercase;
  background: color(yellow, l50);
  @include vr-type($ms-down1, 5);
  padding-left: vr(3);
  padding-right: vr(3);
}

:not(pre) > code {
  font-family: $font-mono;
  @include vr-type($ms-down1, 4);
  background-color: color(yellow, l25);
  padding: .25em;
  border-radius: .25em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $grey60;
}