/* ----------------------------------------------------------------------------

HEADINGS

===============================================================================
03_atoms/_headings.scss
-------------------------------------------------------------------------------

Basic styles to h1 - h6

---------------------------------------------------------------------------- */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-sans;
  font-weight: 900;
  color: $grey90;
}

.h1 {
  @include vr-type($ms-up3, 6);
  color: $black;
  margin-bottom: vr(2);
  
  &--alt {
    margin-bottom: vr(4);
  }
}

.h2 {
  @include vr-type($ms-up2);
  margin-bottom: vr(1);
  
  &--section {
    @include vr-type($ms-up2);
    font-family: $font-serif;
    margin-bottom: vr(4);
  }
}
  
.h3 {
  @include vr-type($ms-up1);
  margin-bottom: vr(2);
  
  &--articlelist {
    @include vr-type($ms-up1);
    margin-bottom: 0;
  }
}
  
.h4 {
  @include vr-type($ms-base);
  font-weight: 700;
}

/* @ inside posts @ */

// h1 is used in post title, so that one can't be used again

.article-body h2, .article-body h3, .article-body h4, .article-body h5, .article-body h6 {
  font-weight: 900;
}

.article-body h2 {
  @include vr-type($ms-up2, 5);
  margin-top: vr(8);
  margin-bottom: vr(4);
}

.article-body h3 {
  @include vr-type($ms-up1);
  margin-top: vr(6);
  margin-bottom: vr(2);
}

.article-body h4, .article-body h5, .article-body h6 {
  @include vr-type($ms-base);
}
