/**

  @images
---------------------------------------------------------
  elements/_images.scss
--------------------------------------------------------

  Base styling for images, plus some helpful utility
  classes that modify images.

  Note: You won't add any styling to these image classes,
  these are just utility classes

--------------------------------------------------------- */





/* @images
--------------------------------------------------------

  Base Image Style is 100% width by default

  Example: Image
  <img src="http://fillmurray.com/600/300">

------------------------------------------------------ */

img {
  
    width: 100%;
//  max-width: 1000px;
//  vertical-align: middle;

}

.portrait, .landscape {
    margin-bottom: vr(4);
    & + figcaption {
      margin-bottom: 0;
    }
  }

// [NOTE] The margins of .img--landscape and .img--portrait are defined in 02_layout/_block.scss