/**

  @links
--------------------------------------------------------
  elements/_links.scss
--------------------------------------------------------

  Links, <a> etc. & Webkit tap highlight

  Example: link
  <p>Lorem Ipsum is simply <a href="#">dummy text</a> of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

-------------------------------------------------------- */




/* @anchors
--------------------------------------------------------

  Anchors will have this base styling

------------------------------------------------------ */

a {
  text-decoration: none;
  &:visited {
    opacity: .5;
  }
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    padding-top: 2px;
    opacity: .75;
  }
  &:active {
    opacity: .9;
  }
  
  &.link--logo {
    color: $grey90;
    &:visited {
      opacity: 1;
    }
    &:hover {
      color: $black;
      text-decoration: none;
    }
    &:focus {
      padding-top: 0;
      opacity: 1;
    }
    &:active {
      opacity: 1;
    }
  }

}

.ul--index a {
  color: $black;
}

.ul--web a {
  color: $color-home;
}

.link-navigation a, .link-more {
  display: block;
  color: $grey60;
  @include set-type($ms-down1);
  font-family: $font-sans;
  text-transform: uppercase;
  letter-spacing: .25em;
  &:hover {
    color: $grey80;
    text-decoration: none;
  }
}

.h2--index--articles a,
.o-content--articles a {
  color: $color-articles;
}

.h2--index--photos a,
.o-content--photos a {
  color: $color-photos;
}

.h2--index--code a,
.o-content--code a {
  color: $color-code;
  text-shadow: 0 0 1px $grey20;
}

.h2--index--sport a,
.o-content--sport a {
  color: $color-sport;
}

.h2--index--links a,
.o-content--links a {
  color: $color-links;
}


/* @webkit-tap-highlight
--------------------------------------------------------

  Declare the webkit tap highlight style

------------------------------------------------------ */

body {
  -webkit-tap-highlight-color: rba(0, 0, 0, .35);
}