/**

  @links
--------------------------------------------------------
  elements/_links.scss
--------------------------------------------------------

  Links, <a> etc. & Webkit tap highlight

  Example: link
  <p>Lorem Ipsum is simply <a href="#">dummy text</a> of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

-------------------------------------------------------- */




/* @anchors
--------------------------------------------------------

  Anchors will have this base styling

------------------------------------------------------ */

a {
//  color: $red;
  color: $black;
//  padding-bottom: 0px;
  border-bottom: 2px solid $red;
  text-decoration: none;
  transition: all .3s ease-in-out;
  
  &:visited {
    opacity: .5;
  }
  &:hover {
    color: $red;
    border-color: $grey60;
  //  text-decoration: underline;
  }
  &:focus {
    padding-top: 2px;
    opacity: .75;
  }
  &:active {
    opacity: .9;
  }

}

.logo-link {
  color: $grey90;
  border: none;
  
  &:visited {
    opacity: 1;
  }
  &:hover {
    color: $grey80;
    text-decoration: none;
  }
  &:focus {
    padding-top: 0;
    opacity: 1;
  }
  &:active {
    opacity: 1;
  }
}

.title-link {
  color: $blue;
  border: none;
  &:hover { text-decoration: none; color: color(blue, l75); }
  &:focus, &:visited { color: color(blue, l50); }
}

.category-link {
  font-family: $font-sans;
  color: $grey80;
  text-transform: uppercase;
  padding-bottom: 1px; //new
  border-bottom: 2px solid $green; //new
//  padding: .25em;
//  background: color(green, l25);
//  border-radius: .25em;

  &:hover { 
    text-decoration: none; 
    color: $black; 
 //   background-color: color(green, l50); 
    border-color: color(green, d75); //new
    transition: border .3s ease-in-out; //new
  }
  &:focus, &:visited { border-color: color(green, l50); }
}

.navigation a {
  display: inline-block;
  color: $grey60;
  border: none;
  @include vr-type($ms-down1);
  font-family: $font-sans;
  text-transform: uppercase;
  letter-spacing: .2em;
  
  &:hover { color: $grey50; text-decoration: none; }
  &:visited, &:active { color: $grey40; }
  
}

.web-link {
  display: inline-block;
  color: $grey80;
  border: none;

  &:hover { color: $grey60; text-decoration: none; }
  &:visited, &:active { color: $grey50; }

}




/* @webkit-tap-highlight
--------------------------------------------------------

  Declare the webkit tap highlight style

------------------------------------------------------ */

body {
  -webkit-tap-highlight-color: rba(0, 0, 0, .35);
}