/* ----------------------------------------------------------------------------

QUOTES

===============================================================================
03_atoms/_quotes.scss
-------------------------------------------------------------------------------

Basic styles to blockquotes and pullquotes

---------------------------------------------------------------------------- */

blockquote {
  margin-top: vr(4);
  margin-bottom: vr(4);
  padding: vr(3);
  border-top: vr(1) solid $grey40;
  font-family: $font-sans;
  background-color: $grey20;
  
  cite {
    &:before {
      content: " — ";
    }
  }

}
