/* ----------------------------------------------------------------------------

TEXT

===============================================================================
03_atoms/_text.scss
-------------------------------------------------------------------------------

Basic styles to block text elments (i.e. <p>) and inline text elements (such as
<strong>). Also, special elements specific to the design.

---------------------------------------------------------------------------- */


/* @ block elements @ ---------------------------------------------------------
---------------------------------------------------------------------------- */

p {
  margin-bottom: vr(4);
  
  &:last-child {
    margin-bottom: 0;
  }
  
}

.section__intro p { @include vr-type($ms-up1, 5); }

.copyright { 
  @include vr-type($ms-down1, 3); 
  margin-bottom: vr(4); 
  color: $grey80;
}

.year {
  @include vr-type($ms-up2);
  color: $grey90;
  font-weight: 700;
  margin-top: vr(4);
  margin-bottom: vr(2);
  
  &:first-of-type {
    margin-top: 0;
  }
}

/* @ inline elements @ --------------------------------------------------------
---------------------------------------------------------------------------- */
 
strong {
  // NOTE: use bold font-face if available instead of 'font-weight: bold'
  font-weight: bold;
}

em {
  // NOTE: use italic font-face if available instead of 'font-style: italic'
  font-style: italic;
}

small,
.small {
  @include vr-type($ms-down1, 3);
}

time,
.time {
  text-transform: uppercase;
}

abbr {
  font-variant: small-caps; 
  font-weight: 600;
  text-transform: lowercase;
  
  &[title]:hover {
    // Cursor changed to a question mark when it has a title
    cursor: help;
  }
}


/* @ special elements @ -------------------------------------------------------
---------------------------------------------------------------------------- */

.art-meta {
  font-family: $font-sans;
  @include vr-type($ms-down1, 4);
  color: $grey80;
  text-transform: uppercase;
  letter-spacing: .1em;
}

  
/*  .article-body p:first-child {
    font-style: italic;
  } */
